@media (max-width: 486px) {
    body {
        height: 100%;
        background: inherit;
    }

    body::before {
        background-image: url(https://openmw.org/wp-content/themes/openmw/images/bg.jpg);
        background-repeat: repeat;
        background-position: center top;
        /*background-size: cover;*/
        content: '';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
    }
    
    div.body {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    div#sidebar {
        position: inherit;
        top: inherit;
        right: inherit;
        width: 100%;
        position: relative;
        background: #fff;
        background-color: rgba(255,255,255,.55);
        color: #111;
        padding: 25px;
        margin: 30px 25px;
        border: 1px solid #777;
        border-radius: 3px;
        text-align: justify;
        width: 29%;
        font-size: 11pt;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    
    li.widget {
        width: 100%;
        padding-bottom: 10px;
        margin: 20px auto;
    }
    
    input#searchsubmit {
        margin-left: 20px
    }
    
    div.bodyElement {
        text-align: left;
        width: 29%;
        font-size: 14pt;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    
    #nav-below div {
        display: flex;
        justify-content: space-between;
    }
    
    #nav-above {
        display:none;
    }
    
    div.bodyElement p {
        overflow-wrap: break-word;
        word-break: break-word;
        line-height: 1.3em;
    }
    
    div.bodyElement p:nth-of-type(1) {
        padding-top: 25px;
    }
    
    div.header {
        width: 100vw;
        background-repeat: no-repeat;
    }
    
    div.title {
        width: 95%;
        height: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 15px;
    }
    
    div#nav {
        overflow-y: scroll;
        width: 89vw;
        height: 18px;
        display: flex;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    
    #nav a {
        margin: inherit;
        white-space: nowrap;
    }
    
    div#footer {
        width: 100%;
        margin-left: inherit;
        padding-bottom: 20px;
    }
    
    p iframe {
        width:100%;
        height:auto;
    }
    
    center iframe {
        width: 100%;
        height: auto;
    }
    
    .wp-block-image {
        margin:0;
        display: grid;
    }
    
    
    .wp-block-image img {
        height:auto;
    }
    
    blockquote {
        margin:0;
    }
    
    div.bodyElement img {
        width:100%;
    }
    
    div#sidebar ul {
       padding:0;
    }
    
    div#sidebar ul ul {
       padding:25px;
       padding-top: 5px;
    }
    
    #text-3 .textwidget {
        padding:5px;
    }    
}